<%- include("header") -%>
    <div class="main">
        <h1><%= listTitle %></h1>
      
        <form class="form" action="/" method="POST">
          <input id="inputtask" type="text" name="newItem" placeholder="Enter New task" autocomplete="off">
          <button id="addbutton"  type="submit" name="AddItem" value=<%= listTitle %> > Add Task </button>
        </form>
        <ul class="todolist">
            <% for(let i=0; i< newListItems.length ; i++ ) { %>
                <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>
        </ul>
        <form action="/clear" method="POST">
        <button class="clear d-none" name="clear" value=<%= listTitle%>>Clear All</button>
        </form>
      </div>
<%- include("footer") -%>

